* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body.dark {
	--light: #0C0C1E;
	--grey: #060714;
	--dark: #FBFBFB;
    --opacityblue : #323552;
    --graytoblue : #323552;
	--blue :#043a70;
}
/* Styles for the post */
:root {
	--poppins: 'Poppins', sans-serif;
	--lato: 'Lato', sans-serif;

	--light: #F9F9F9;
	--blue: #3C91E6;
	--light-blue: #CFE8FF;
	--grey: #eee;
	--dark-grey: #AAAAAA;
	--dark: #342E37;
	--red: #ff4343d8;
	--yellow: #FFCE26;
	--light-yellow: #FFF2C6;
	--orange: #FD7238;
	--light-orange: #FFE0D3;
    --border : #5b6171;
    --graytoblue : #98abcf;
    --opacityblue : #e7e7e7;
}
.container{
	font-family: var(--poppins);
    display: flex;
	margin: 24px;
	padding: 10px;
	border-radius: 20px;
    background-color: var(--light);
}
.formdiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
    background: var(--light);
    border-radius: 50px;
    color: var(--dark);
}

.inpt{
    width: 100%;
    outline: none;
    padding: 10px;
    border: none;
    border-radius: 15px;
    box-sizing: border-box;
    margin-bottom: 10px;
    max-width: 100%;
    resize: none;
    overflow-y: hidden; /* Hide vertical scrollbar */
    height: 40px; /* Auto-resize based on content */
    background-color:var(--grey);
    color: var(--dark);
    margin-top: 10px;
    background: var(--grey);
}
.btn{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 15px;
    box-sizing: border-box;
    margin-bottom: 10px;
    max-width: 100%;
    background: var(--blue);
    color: var(--light);
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
}
.studentlist{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
    background: var(--light);
    border-radius: 50px;
    color: var(--dark);
}
table {
	width: 100%;
	border: #060714 2px solid;
    border-collapse: 1px;
	margin-top: 20px;
}
th {
    background-color: #060714;
    color: #FFFFFF;
    border-bottom: #060714 1px solid;
    border-right: #060714 1px solid;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
}
td {
    border-bottom: #060714 1px solid;
    border-right: #060714 1px solid;
    padding: 10px;
    text-align: center;
}